header{
    background-color: #a3b3ea;
}

.menu {
    background: #a8a6ac;
    list-style: none;
    margin: auto;
    padding: 0px;
    width: 968.5px;
}

.menu li{
    display: inline-block;
    border:0px;
}

.menu li a{
    padding: 10px 20px;
    display: inline-block;
    text-decoration: none;
    font-size: 35px;
    color: white;
    
}

.menu li a:hover, .Activo{
    background: #0d6efd;
}

.categorias{
    padding: 20px 50px;
    float: left;
}

.category-title{
    width: 160px;
    margin: 0px;
    padding: 20px 0px 0px 35px;
}

.list-group-item{
    background: #a8a6ac;
    color:white;
    font-size: 19px;
    width: 225px;
}

.list-group-item.active{
    background: #0d6efd;
}

.vista-articulos{
    float: left;
}

#navSearch{
    padding: 15px 0px 15px 470px;
}

#busqueda{
    padding: 0px 60px;
}

.imagen-componente{
    width: 250px;
    height: 187.5px;
}

.img-articulo{
    padding: 0px 50px;
    float: left;
}

.info-articulo{
    float: left;
    padding: 5px 0px;
}
.opc-articulo{
    float: left;
    width: 350px;
    padding: 20px 0px;
}

.articulo-component{
    clear:both;
    padding: 30px 0px 30px 0px;
}

.imagen-componente-detalle{
    width: 350px;
    height: 262.5px;
}

.opc-articulo-det{
    float: left;
    width: 450px;
    padding: 70px 0px;
}

.articulo-component-det{
    clear:both;
    padding: 30px 20px 30px 0px;
}

.img-articulo-det{
    padding: 0px 0px 0px 150px;
    float: left;
}

#boton1{
    height: 50px;
    font-size: 20px;
}

.articulo-info{
    clear:both;
    padding: 20px 140px;
}

.titulo-inf{
    padding: 2px 0px;
}

.text-inf{
    padding: 0.8px 0px;
}

#regreso{
    clear: both;
    width: 200px;
    height: 45px;
    font-size: 20px;
}

#regreso-pos{
    padding: 10px 0px 10px 440px;
}

.footer{
    clear:both;
    padding: 10px 0px;
    background-color: #a3b3ea;
}