.menu {
    background: #a8a6ac;
    list-style: none;
    margin: auto;
    padding: 0px;
    width: 968.5px;
}

.menu li{
    display: inline-block;
    border:0px;
}

.menu li a{
    padding: 10px 20px;
    display: inline-block;
    text-decoration: none;
    font-size: 35px;
    color: white;
    
}

.menu li a:hover, .Activo{
    background: #0d6efd;
}

.categorias{
    padding: 20px 50px;
}

.list-group-item{
    background: #a8a6ac;
    color:white;
    font-size: 19px;
}

.list-group-item.active{
    background: #0d6efd;
}